


.progress{overflow:hidden;height:30px; background-color:#8f8d8d; margin-bottom:0px;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius: 0px 20px 20px 0px; padding: 0px 16px 0px 0px;}

.progress span{padding-top: 5px; color:#fff;}
.progress .bar{width:0%; padding:0px 15px; height:100%;float:left;font-size:12px;text-align:center; font-size:15px; background-color:#EF5337; border-radius: 0px 20px 20px 0px;}
.dailypemant{ margin:0px; padding:0px; height:auto; width:100%; float:left; }
.dailypemant p{ width:30%; float:left; color:#000; text-align:right; padding-right:15px; margin-top:5px; font-weight:bold;}
.sell_reat{ margin:0px; padding:0px; height:auto; width:100%; float:left; }
.sell_reat p{ width:30%; float:left; color:#000; text-align:right; padding-right:15px; margin-top:5px; font-weight:bold;}
.term{ margin:0px; padding:0px; height:auto; width:100%; float:left; }
.term p{ width:50%; float:left; color:#000; text-align:right; padding-right:15px; margin-top:5px; font-weight:bold;}
 .limit1{ width:30% !important}
 .limit2{ width:30% !important}
 .limit3{width:50% !important}
